<table class="ow_table_3 ow_automargin ow_smallmargin">
	<tr class="ow_tr_first">
		<td class="ow_label">{text key='friends+widget_friends'}</td>
		<td class="ow_value"><a href="{$friendsUrl}" >{$count}</a></td>
	</tr>
	<tr>
		<td class="ow_label">{text key='friends+widget_got_requests'}</td>
		<td class="ow_value"><a href="{$gotRequestsUrl}" >{$gotCount}</a></td>
	</tr>
	<tr class="ow_tr_last">
		<td class="ow_label">{text key='friends+widget_sent_requests'}</td>
		<td class="ow_value"><a href="{$sentRequestsUrl}" >{$sentCount}</a></td>
	</tr>
</table>