<?xml version="1.0" encoding="utf-8"?>

<plugin>
    <name>Who Viewed Me</name>
    <key>ocsguests</key>
    <description>Displays guests visited user profile</description>
    <author>Oxwall CandyStore</author>
    <authorEmail>plugins@oxcandystore.com</authorEmail>
    <authorUrl>http://oxcandystore.com</authorUrl>
    <developerKey>c36f83152f203c5a947a3fb053e4bc24</developerKey>
    <build>8520</build>
    <copyright>(C) 2012 Oxwall CandyStore</copyright>
    <license>The BSD License</license>
    <licenseUrl>http://www.opensource.org/licenses/bsd-license.php</licenseUrl>
</plugin>
