{style}
{literal}
    .ow_user_gifts .ow_gift_wrapper {
        margin: 0px 2px 0px 0px;
        height: 83px;
        width: 80px;
        overflow: hidden;
    }
    
    .ow_user_gifts .ow_gift_wrapper img { width: 80px; }
{/literal}
{/style}

<div class="clearfix ow_user_gifts">
{foreach from=$gifts item='gift'}
	<div class="ow_gift_wrapper">
        <a href="{url_for_route for="virtual_gifts_view_gift:[giftId=>`$gift.dto->id`]"}">
            <img {if $gift.dto->message != ''}title="{$gift.dto->message}"{/if} src="{$gift.imageUrl}" />
        </a>
	</div>
{/foreach}
</div>