
<p class="ow_smallmargin">{text key='video+video_add_tip'}</p>

<div class="ow_superwide ow_automargin ow_stdmargin">
    
    {if !$auth_msg}
		{form name='videoAddForm'}

		<table class="ow_table_1 ow_form">
		    <tr class="ow_alt2 ow_tr_first">
		        <td class="ow_label">{label name='code'}</td>
		        <td class="ow_value">{input name='code'} <br /> {error name='code'}</td>
		        <td class="ow_desc ow_small">{text key='video+code_desc'}</td>
		    </tr>
		    <tr class="ow_alt1">
		        <td class="ow_label">{label name='title'}</td>
		        <td class="ow_value">{input name='title'} <br /> {error name='title'}</td>
		        <td class="ow_desc"></td>
		    </tr>
		    <tr class="ow_alt2">
		        <td class="ow_label">{label name='description'}</td>
		        <td class="ow_value">{input name='description'} <br /> {error name='description'}</td>
		        <td class="ow_desc ow_small">{text key='video+description_desc'}</td>
		    </tr>
		    <tr class="ow_alt1 ow_tr_last">
		        <td class="ow_label">{label name='tags'}</td>
		        <td class="ow_value">{input name='tags'}</td>
		        <td class="ow_desc ow_small">{text key='video+tags_desc'}</td>
		    </tr>
		</table>
		<div class="clearfix ow_stdmargin"><div class="ow_right">{submit name='add' class='ow_ic_add ow_positive'}</div></div>
		{/form}
    {else}
        <div class="ow_anno ow_std_margin ow_nocontent">{$auth_msg}</div>
    {/if}

</div>