<div class="clearfix">{add_content key='video.add_content.list.top' listType=$listType}</div>

{if $showAddButton}
    <div class="ow_right">{decorator name='button' class='ow_ic_add' id='btn-add-new-video' langLabel='video+add_new'}</div>
{/if}

{$videoMenu}

{add_content key='video.content.list.after_menu' listType=$listType}

{if isset($tag)}
    <div class="clearfix">
        <div class="ow_left ow_superwide">
            <div class="ow_anno ow_std_margin ow_center">
                {text key='video+tag_search_result'} "<b>{$tag}</b>"
            </div>
        </div>

        <div class="ow_right ow_supernarrow">
            {block_decorator name='box' iconClass='ow_ic_tag' langLabel='video+tag_search' addClass='ow_smallmargin'}
               <input type="text" class="ow_text" id="video-tag-search-input" />
            {/block_decorator}
        </div>
    </div>
    {component class='VIDEO_CMP_VideoList' type=$listType count=5 tag=$tag}
{else}
    <div class="clearfix">
        <div class="ow_left ow_superwide">
            {$tags}
        </div>

        <div class="ow_right ow_supernarrow">
            {block_decorator name='box' iconClass='ow_ic_tag' langLabel='video+tag_search' addClass='ow_smallmargin'}
               <input type="text" class="ow_text" id="video-tag-search-input" />
            {/block_decorator}
        </div>
    </div>
{/if}

{add_content key='video.content.list.bottom' listType=$listType}