<div class="clearfix">
	<div class="ow_superwide ow_left">

        {block_decorator name='box' type='empty' addClass='ow_video_player ow_stdmargin' toolbar=$toolbar}
            {component class='VIDEO_CMP_VideoPlayer' id=$clip->id}
        {/block_decorator}

	   <div class="ow_video_description ow_stdmargin">{$clip->description}</div>
       {add_content key='socialsharing.get_sharing_buttons' title=$clip->title description=$clip->description entityType='video' entityId=$clip->id}

       {add_content key='video.video_view.content.between_video_and_wall'}
	   {$comments}
	</div>

	<div class="ow_supernarrow ow_right">
       {block_decorator name='box' iconClass='ow_ic_video' langLabel='video+video_info' addClass='ow_small ow_stdmargin'}
	       <table class="ow_table_3 ow_nomargin">
	           <tr class="ow_tr_first">
	               <td class="ow_label">{text key='base+by'}</td>
	               <td>{if $username && $displayName}{user_link username=$username name=$displayName}{else}{$displayName}{/if}</td>
	           </tr>
	           <tr class="ow_tr_last">
	               <td class="ow_label">{text key='video+added'}</td>
	               <td>{format_date timestamp=$clip->addDatetime}</td>
	           </tr>
	       </table>
	   {/block_decorator}

       {component class='VIDEO_CMP_OtherVideoList' exclude=$clip->id itemsNum=3}

	   {if !empty($rate)}{$rate}{/if}
           {if !empty($tags)}{$tags}{/if}
	</div>
</div>