{style}{literal}

.questions_comment_input {
    height: 50px;
}

{/literal}{/style}

<div id="{$cmpContext}" class="questions_comments">
    {block_decorator name='box_cap' langLabel='base+comment_box_cap_label' iconClass='ow_ic_comment'}{/block_decorator}
    {block_decorator name='box' addClass='ow_add_comments_form ow_stdmargin' style='text-align:center;'}
        {if isset($form)}
            <div class="form_auto_click" style='text-align:center;'>
                {form name="comment-add-`$id`"}
                    <div class="clearfix">
                        <div class="ow_ipc_picture">{decorator name='avatar_item' src=$currentUserInfo.src title=$currentUserInfo.title}</div>
                        <div class="ow_ipc_info">{input name='commentText' class="ow_smallmargin questions_comment_input"}</div>
                    </div>
                    <div class="ow_submit_auto_click">
                        {if !empty($attachment)}<div id="attachment_preview_{$id}"></div>{/if}
                        <div class="clearfix">
                            <span style="float: right;padding: 4px 10px 4px 5px;" >{submit name='comment-submit'}</span>
                            {if !empty($attachment)}<span style="float: right;" >{$attachment}</span>{/if}
                        </div>
                    </div>
                {/form}
            </div>
        {else}
            <div>{$authErrorMessage}</div>
        {/if}
    {/block_decorator}

    <div class="comments_list_cont">
        {$commentList}
    </div>
</div>
