{form name='edit-slide-form'}
<table class="ow_table_1 ow_smallmargin">
<tr class="ow_alt2">
    <td class="ow_label">{text key='slideshow+file'}</td>
    <td class="ow_value">{input name='slide'}</td>
    <td></td>
</tr>
<tr class="ow_alt1">
    <td class="ow_label">{label name='title'}</td>
    <td class="ow_value">{input name='title'}</td>
    <td class="ow_description ow_small">{text key='slideshow+optional'}</td>
</tr>
<tr class="ow_alt2">
    <td class="ow_label">{label name='url'}</td>
    <td class="ow_value">{input name='url'}</td>
    <td class="ow_description ow_small">{text key='slideshow+optional'}</td>
</tr>
<tr>
    <td colspan="3" class="ow_txtright">{decorator name='button' id='btn-edit-slide' class='ow_ic_edit' langLabel='slideshow+edit_slide'}</td>
</tr>
</table>                            
{/form}