{script}{literal}

$('#fbc-reset').click(function(){
    var self = this, rsp = $(this).attr('ow_rsp');

    OW.inProgressNode(self);
    $('#fbc-reset-preloader').show();
    $.getJSON(rsp, function(message){
        OW.info(message);
        OW.activateNode(self);
        $('#fbc-reset-preloader').hide();
    });

});

{/literal}{/script}

{style}{literal}

#fbc-reset-preloader {
    display: inline-block;
    width: 16px;
    height: 11px;
    margin-bottom: -1px;
}

{/literal}{/style}

{$menu}

<table class="ow_table_1 ow_form">

    <tr class="ow_tr_first">
        <th class="ow_name ow_txtleft" colspan="3">
            <span class="ow_section_icon ow_ic_app">{text key='fbconnect+application_configuration_title'}</span>
        </th>
    </tr>
    <tr class="{cycle name="install" values="ow_alt2, ow_alt1"}">
        <td class="ow_label">
            <a href="{$appUrl}" target="_blank">
                {* Edit your Facebook Application *}
                {text key="fbconnect+app_edit_title"}
            </a>
        </td>
        <td class="ow_desc">
            {* Customize your Facebook App’s URLs, icon, name, and more *}
            {text key="fbconnect+app_edit_desc"}
        </td>
    </tr>

    {*<tr class="{cycle name="install" values="ow_alt2, ow_alt1"}">
        <td class="ow_label">
            <div style="display: none;" class="fbconnect_preloader" id="fbc-reset-preloader"></div>
            <a href="javascript://" ow_rsp="{$resetRspUrl}" id="fbc-reset">
                {text key="fbconnect+app_reset_title"}
            </a>
        </td>
        <td class="ow_desc">
            {text key="fbconnect+app_reset_desc"}
        </td>
    </tr>*}

    <tr class="{cycle name="install" values="ow_alt2, ow_alt1"} ow_tr_last">
        <td class="ow_label">
            <div style="display: none;" class="fbconnect_preloader" id="fbc-reset-preloader"></div>
            <a href="{$deleteUrl}">
                {text key="fbconnect+app_remove_app_title"}
            </a>
        </td>
        <td class="ow_desc">
            {text key="fbconnect+app_remove_app_desc"}
        </td>
    </tr>

</table>

{form name='FBCONNECT_SettingsForm'}

<table class="ow_table_1 ow_form">

    <tr class="ow_tr_first">
        <th class="ow_name ow_txtleft" colspan="3">
            <span class="ow_section_icon ow_ic_gear_wheel">{text key='fbconnect+additional_settings_title'}</span>
        </th>
    </tr>
    <tr class="{cycle name="install" values="ow_alt2, ow_alt1"}">
        <td class="ow_label">{text key='fbconnect+additional_settings_synchronize'}</td>
        <td class="ow_value">{input name='allowSynchronize'} {error name='allowSynchronize'}</td>
        <td class="ow_desc">{text key='fbconnect+additional_settings_synchronize_desc'}</td>
    </tr>
</table>
<div class="clearfix ow_submit ow_smallmargin"><div class="ow_right">{submit name='save' class='ow_ic_save'}</div><div class="ow_right"></div></div>

{/form}
